src/main/mule/implementation/branch-appointments-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- GET /branch-appointments -->
	<flow name="get:\branch-appointments:banking-system-api-config">
		<logger level="INFO" doc:name="Log Request" message='#["GET /branch-appointments - CorrelationId: $(vars.correlationId)"]' />
		<ee:transform doc:name="Build SOQL Query">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="queryLimit"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.limit default "100"]]></ee:set-variable>
				<ee:set-variable variableName="queryOffset"><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.offset default "0"]]></ee:set-variable>
				<ee:set-variable variableName="soqlQuery"><![CDATA[%dw 2.0
output application/java
var objectName = p('salesforce.objects.branchAppointment')
var limitValue = attributes.queryParams.limit default "100"
var offsetValue = attributes.queryParams.offset default "0"
---
"SELECT Id, Appointment_DateTime__c, Branch_Location__c, Appointment_Type__c, Status__c, Related_Customer__c, Case__c FROM $(objectName) ORDER BY Appointment_DateTime__c DESC LIMIT $(limitValue) OFFSET $(offsetValue)"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log Query" message='#["Executing SOQL: $(vars.soqlQuery)"]' />
		<salesforce:query config-ref="Salesforce_Config" doc:name="Query Branch Appointments">
			<salesforce:salesforce-query><![CDATA[#[vars.soqlQuery]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform to API Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item, index) -> {
	Id: item.Id,
	Appointment_DateTime__c: item.Appointment_DateTime__c,
	Branch_Location__c: item.Branch_Location__c,
	Appointment_Type__c: item.Appointment_Type__c,
	Status__c: item.Status__c,
	Related_Customer__c: item.Related_Customer__c,
	Case__c: item.Case__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Response" message='#["Successfully retrieved $(sizeOf(payload)) branch appointments"]' />
	</flow>
	
	<!-- POST /branch-appointments -->
	<flow name="post:\branch-appointments:application\json:banking-system-api-config">
		<logger level="INFO" doc:name="Log Request" message='#["POST /branch-appointments - CorrelationId: $(vars.correlationId)"]' />
		<ee:transform doc:name="Transform to Salesforce Format">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Appointment_DateTime__c: payload.Appointment_DateTime__c,
	Branch_Location__c: payload.Branch_Location__c,
	Appointment_Type__c: payload.Appointment_Type__c,
	Status__c: payload.Status__c,
	Related_Customer__c: payload.Related_Customer__c,
	(Case__c: payload.Case__c) if (payload.Case__c != null)
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log Payload" message="Creating branch appointment in Salesforce" />
		<salesforce:create config-ref="Salesforce_Config" type="#[p('salesforce.objects.branchAppointment')]" doc:name="Create Branch Appointment">
			<salesforce:records><![CDATA[#[payload]]]></salesforce:records>
		</salesforce:create>
		<ee:transform doc:name="Extract Created Record">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="createdId"><![CDATA[%dw 2.0
output application/java
---
payload[0].id]]></ee:set-variable>
				<ee:set-variable variableName="isSuccess"><![CDATA[%dw 2.0
output application/java
---
payload[0].success]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Check Creation Success">
			<when expression="#[vars.isSuccess == true]">
				<salesforce:query config-ref="Salesforce_Config" doc:name="Query Created Record">
					<salesforce:salesforce-query><![CDATA[#["SELECT Id, Appointment_DateTime__c, Branch_Location__c, Appointment_Type__c, Status__c, Related_Customer__c, Case__c FROM $(p('salesforce.objects.branchAppointment')) WHERE Id = '$(vars.createdId)'"]]]></salesforce:salesforce-query>
				</salesforce:query>
				<ee:transform doc:name="Transform to API Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Id: payload[0].Id,
	Appointment_DateTime__c: payload[0].Appointment_DateTime__c,
	Branch_Location__c: payload[0].Branch_Location__c,
	Appointment_Type__c: payload[0].Appointment_Type__c,
	Status__c: payload[0].Status__c,
	Related_Customer__c: payload[0].Related_Customer__c,
	Case__c: payload[0].Case__c
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log Success" message='#["Successfully created branch appointment with Id: $(vars.createdId)"]' />
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Log Failure" message="Failed to create branch appointment in Salesforce" />
				<ee:transform doc:name="Error Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "CREATION_FAILED",
	message: payload[0].errors[0].message default "Failed to create record",
	timestamp: now(),
	correlationId: vars.correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>

</mule>
