src/main/mule/implementation/card-requests-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- GET /card-requests -->
	<flow name="get:\card-requests:banking-system-api-config">
		<logger level="INFO" doc:name="Log Request" message='#["GET /card-requests - CorrelationId: $(vars.correlationId)"]' />
		<ee:transform doc:name="Build SOQL Query">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="soqlQuery"><![CDATA[%dw 2.0
output application/java
var objectName = p('salesforce.objects.cardRequest')
var limitValue = attributes.queryParams.limit default "100"
var offsetValue = attributes.queryParams.offset default "0"
---
"SELECT Id, Request_Number__c, Customer__c, Card_Type__c, Status__c, Request_Date__c FROM $(objectName) ORDER BY Request_Date__c DESC LIMIT $(limitValue) OFFSET $(offsetValue)"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log Query" message='#["Executing SOQL: $(vars.soqlQuery)"]' />
		<salesforce:query config-ref="Salesforce_Config" doc:name="Query Card Requests">
			<salesforce:salesforce-query><![CDATA[#[vars.soqlQuery]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform to API Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item, index) -> {
	Id: item.Id,
	Request_Number__c: item.Request_Number__c,
	Customer__c: item.Customer__c,
	Card_Type__c: item.Card_Type__c,
	Status__c: item.Status__c,
	Request_Date__c: item.Request_Date__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Response" message='#["Successfully retrieved $(sizeOf(payload)) card requests"]' />
	</flow>
	
	<!-- POST /card-requests -->
	<flow name="post:\card-requests:application\json:banking-system-api-config">
		<logger level="INFO" doc:name="Log Request" message='#["POST /card-requests - CorrelationId: $(vars.correlationId)"]' />
		<ee:transform doc:name="Transform to Salesforce Format">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Request_Number__c: payload.Request_Number__c,
	Customer__c: payload.Customer__c,
	Card_Type__c: payload.Card_Type__c,
	Status__c: payload.Status__c,
	Request_Date__c: payload.Request_Date__c
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log Payload" message="Creating card request in Salesforce" />
		<salesforce:create config-ref="Salesforce_Config" type="#[p('salesforce.objects.cardRequest')]" doc:name="Create Card Request">
			<salesforce:records><![CDATA[#[payload]]]></salesforce:records>
		</salesforce:create>
		<ee:transform doc:name="Extract Created Record">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="createdId"><![CDATA[%dw 2.0
output application/java
---
payload[0].id]]></ee:set-variable>
				<ee:set-variable variableName="isSuccess"><![CDATA[%dw 2.0
output application/java
---
payload[0].success]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Check Creation Success">
			<when expression="#[vars.isSuccess == true]">
				<salesforce:query config-ref="Salesforce_Config" doc:name="Query Created Record">
					<salesforce:salesforce-query><![CDATA[#["SELECT Id, Request_Number__c, Customer__c, Card_Type__c, Status__c, Request_Date__c FROM $(p('salesforce.objects.cardRequest')) WHERE Id = '$(vars.createdId)'"]]]></salesforce:salesforce-query>
				</salesforce:query>
				<ee:transform doc:name="Transform to API Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Id: payload[0].Id,
	Request_Number__c: payload[0].Request_Number__c,
	Customer__c: payload[0].Customer__c,
	Card_Type__c: payload[0].Card_Type__c,
	Status__c: payload[0].Status__c,
	Request_Date__c: payload[0].Request_Date__c
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log Success" message='#["Successfully created card request with Id: $(vars.createdId)"]' />
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Log Failure" message="Failed to create card request in Salesforce" />
				<ee:transform doc:name="Error Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "CREATION_FAILED",
	message: payload[0].errors[0].message default "Failed to create record",
	timestamp: now(),
	correlationId: vars.correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>

</mule>