src/main/mule/implementation/customer-households-impl.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

	<!-- GET /customer-households -->
	<flow name="get:\customer-households:banking-system-api-config">
		<logger level="INFO" doc:name="Log Request" message='#["GET /customer-households - CorrelationId: $(vars.correlationId)"]' />
		<ee:transform doc:name="Build SOQL Query">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="soqlQuery"><![CDATA[%dw 2.0
output application/java
var objectName = p('salesforce.objects.customerHousehold')
var limitValue = attributes.queryParams.limit default "100"
var offsetValue = attributes.queryParams.offset default "0"
---
"SELECT Id, Household_Name__c, Primary_Contact__c, Address__c, City__c, State__c, Zip_Code__c FROM $(objectName) ORDER BY Household_Name__c LIMIT $(limitValue) OFFSET $(offsetValue)"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log Query" message='#["Executing SOQL: $(vars.soqlQuery)"]' />
		<salesforce:query config-ref="Salesforce_Config" doc:name="Query Customer Households">
			<salesforce:salesforce-query><![CDATA[#[vars.soqlQuery]]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform to API Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (item, index) -> {
	Id: item.Id,
	Household_Name__c: item.Household_Name__c,
	Primary_Contact__c: item.Primary_Contact__c,
	Address__c: item.Address__c,
	City__c: item.City__c,
	State__c: item.State__c,
	Zip_Code__c: item.Zip_Code__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Response" message='#["Successfully retrieved $(sizeOf(payload)) customer households"]' />
	</flow>
	
	<!-- POST /customer-households -->
	<flow name="post:\customer-households:application\json:banking-system-api-config">
		<logger level="INFO" doc:name="Log Request" message='#["POST /customer-households - CorrelationId: $(vars.correlationId)"]' />
		<ee:transform doc:name="Transform to Salesforce Format">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Household_Name__c: payload.Household_Name__c,
	Primary_Contact__c: payload.Primary_Contact__c,
	Address__c: payload.Address__c,
	City__c: payload.City__c,
	State__c: payload.State__c,
	Zip_Code__c: payload.Zip_Code__c
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Log Payload" message="Creating customer household in Salesforce" />
		<salesforce:create config-ref="Salesforce_Config" type="#[p('salesforce.objects.customerHousehold')]" doc:name="Create Customer Household">
			<salesforce:records><![CDATA[#[payload]]]></salesforce:records>
		</salesforce:create>
		<ee:transform doc:name="Extract Created Record">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="createdId"><![CDATA[%dw 2.0
output application/java
---
payload[0].id]]></ee:set-variable>
				<ee:set-variable variableName="isSuccess"><![CDATA[%dw 2.0
output application/java
---
payload[0].success]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Check Creation Success">
			<when expression="#[vars.isSuccess == true]">
				<salesforce:query config-ref="Salesforce_Config" doc:name="Query Created Record">
					<salesforce:salesforce-query><![CDATA[#["SELECT Id, Household_Name__c, Primary_Contact__c, Address__c, City__c, State__c, Zip_Code__c FROM $(p('salesforce.objects.customerHousehold')) WHERE Id = '$(vars.createdId)'"]]]></salesforce:salesforce-query>
				</salesforce:query>
				<ee:transform doc:name="Transform to API Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Id: payload[0].Id,
	Household_Name__c: payload[0].Household_Name__c,
	Primary_Contact__c: payload[0].Primary_Contact__c,
	Address__c: payload[0].Address__c,
	City__c: payload[0].City__c,
	State__c: payload[0].State__c,
	Zip_Code__c: payload[0].Zip_Code__c
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log Success" message='#["Successfully created customer household with Id: $(vars.createdId)"]' />
			</when>
			<otherwise>
				<logger level="ERROR" doc:name="Log Failure" message="Failed to create customer household in Salesforce" />
				<ee:transform doc:name="Error Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "CREATION_FAILED",
	message: payload[0].errors[0].message default "Failed to create record",
	timestamp: now(),
	correlationId: vars.correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>

</mule>